.DS_Store
*~
*.5
*.6
_/
/.emacs.desktop
/.emacs.desktop.lock
/Q.md
/Ques*
/TODO.pdf
/TODO.tex
/compilation.log
/doc/bug.smart
/doc/w3.css
/grep
/make/out
/make/tests/work
/out
/smart
/smart.a
/smart_test.go
/test/android-toolchain/COPYING
/test/android-toolchain/COPYING.LIB
/test/android-toolchain/COPYING.RUNTIME
/test/android-toolchain/COPYING3
/test/android-toolchain/COPYING3.LIB
/test/android-toolchain/MODULE_LICENSE_GPL
/test/android-toolchain/NOTICE
/test/android-toolchain/arm-linux-androideabi/
/test/android-toolchain/bin/
/test/android-toolchain/include/
/test/android-toolchain/libexec/
/test/android-toolchain/lib/
/test/android-toolchain/repo.prop
/test/android-toolchain/sysroot/
/*.auto.prof
/.smart/
\*shell:*\*
\.#*

